@import "../globalCSS";

.modalBox {
  min-height: 30vh;
  width: 50%;
  position: fixed;
  top: 15vh;
  left: 25%;
  z-index: 100;
  box-sizing: border-box;
  padding: 1vh;
  background: linear-gradient(to bottom, $ternary-color, $main-color);
  box-shadow: 0 0 1vh $secondary-color;
  box-sizing: border-box;
  //border-bottom: 5vh solid $secondary-color;
}

.hideModalButton {
  float: right;
}
