@import "../globalCSS";

.modalBox {
  min-height: 30vh;
  width: 55%;
  position: fixed;
  top: 15vh;
  left: 22.5%;
  z-index: 100;
  box-sizing: border-box;
  padding: 1vh;
  background: linear-gradient(to bottom, $ternary-color, white);
  box-shadow: 0 0 1vh $secondary-color;
  border-radius: 1vh;

  //border-bottom: 5vh solid $secondary-color;
}

.hideModalButton {
  float: right;
  cursor: pointer;
}

// MOBILE VIEW
@media screen and (max-width: $mobile-max-width) {
  .modalBox {
    width: 95%;
    left: 2.5%;
  }
}
// TABLET VIEW
@media screen and (min-width: $mobile-max-width) and (max-width: $tablet-max-width) {
  .modalBox {
    width: 80%;
    left: 10%;
  }
}
