@import "../../globalCSS";

.contactMeFormDiv {
  box-sizing: border-box;
  padding: 1vh;
  border-bottom: 2px double $ternary-color;
}

.contactMeFormDiv > form {
  box-sizing: border-box;
  padding: 1vh;
  height: 30vh;
  overflow: auto;
}

.contactMeHeader {
  @include mainPageBlockHeadingSpan(5vh);
  box-sizing: border-box;
  padding-bottom: 1vh;
}

.loadingCircleSpan {
  color: $main-color;
}
.loadingCircleSpan > svg {
  animation: rotateLoading 300ms ease-out normal infinite;
}

@keyframes rotateLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// MOBILE VIEW
@media screen and (max-width: $mobile-max-width) {
  .contactMeFormDiv {
    grid-row: 4/5;
  }
  .contactMeHeader {
    @include mainPageBlockHeadingSpan(4vh);
  }
}
// TABLET VIEW
@media screen and (min-width: $mobile-max-width) and (max-width: $tablet-max-width) {
  .contactMeFormDiv {
    grid-row: 4/5;
  }
  .contactMeHeader {
    @include mainPageBlockHeadingSpan(5vh);
  }
}

//LANDSCPE
@media screen and (orientation: landscape) {
  .contactMeHeader {
    @include mainPageBlockHeadingSpan(6vh);
  }
  .contactMeFormDiv > form {
    box-sizing: border-box;
    padding: 1vh;
    height: 60vh;
    width: 50%;
    margin: 0 auto;
  }
}
