@import "../../globalCSS";

.portfolioDiv {
  box-sizing: border-box;
  padding: 1vh;
  grid-column: 1/2;
  border-bottom: 2px double $ternary-color;
}

.portfolioHeaderSpan {
  @include mainPageBlockHeadingSpan(5vh);
}

.gridContainer {
  display: grid;
  height: 30vh;
  box-sizing: border-box;
  padding-top: 1vh;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25vh;
  align-content: center;
}

.firstDiv,
.secondDiv,
.thirdDiv,
.fourthDiv,
.fifthDiv {
  box-sizing: border-box;
  padding: 1vh;
}

// MOBILE VIEW
@media screen and (max-width: $mobile-max-width) {
  .portfolioHeaderSpan {
    @include mainPageBlockHeadingSpan(4vh);
  }
  .gridContainer {
    height: 35vh;
  }
  .gridContainer {
    height: 45vh;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 20vh 20vh;
  }
}

// TABLET VIEW
@media screen and (min-width: $mobile-max-width) and (max-width: $tablet-max-width) {
  .portfolioHeaderSpan {
    @include mainPageBlockHeadingSpan(5vh);
  }
  .gridContainer {
    box-sizing: border-box;
    padding-top: 4vh;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25vh;
  }
}

// LANDSCAPE
@media screen and (orientation: landscape) {
  .portfolioHeaderSpan {
    @include mainPageBlockHeadingSpan(6vh);
  }
  .gridContainer {
    height: 35vh;
  }
  .gridContainer {
    height: 80vh;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30vh;
  }
}
