@import "../../globalCSS";

.formWidthAndAnimation {
  width: 60%;
  margin: 0 auto;
  animation: formEnter 1000ms ease-out 1000ms normal both;
}

.displayButton {
  display: none;
  animation: buttonMount 1s ease-out normal forwards;
}

@keyframes formEnter {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  90% {
    opacity: 0.5;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes buttonMount {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

// MOBILE AND TABLET VIEW
@media screen and (max-width: $tablet-max-width) {
  .displayButton {
    display: block;
  }
}

// LANDSCAPE
@media screen and (orientation: landscape) and (max-width: 1024px)  {
  .formWidthAndAnimation {
    width: 50%;
    margin: 0 auto;
    animation: formEnter 1000ms ease-out 1000ms normal both;
  }
}
