@import "../../globalCSS";

.formWidthAndAnimation {
  width: 70%;
  margin: 0 auto;
  animation: formEnter 1000ms ease-out 1000ms normal both;
}

.displayButton {
  display: none;
}

@keyframes formEnter {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  90% {
    opacity: 0.5;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// MOBILE AND TABLET VIEW
@media screen and (max-width: $tablet-max-width) {
  .displayButton {
    display: block;
  }
}
