@import "../../globalCSS";

.header {
  color: $secondary-color;
  text-align: center;
  font-size: 10vh;
  font-family: "Blanka", "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-decoration: underline;
  box-sizing: border-box;
  padding: 1vh;
  animation: headerEnter 1000ms ease-out normal forwards;
}

.header:hover {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}

@keyframes headerEnter {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  90% {
    opacity: 0.5;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// MOBILE VIEW
@media screen and (max-width: $mobile-max-width) {
  .header {
    font-size: 3.5vh;
  }
}
// TABLET VIEW
@media screen and (min-width: $mobile-max-width) and (max-width: $tablet-max-width) {
  .header {
    font-size: 5vh;
  }
}

// LANDSCAPE
@media screen and (orientation: landscape) and (max-width: 1024px)  {
  .header {
    font-size: 8vh;
  }
}
