@import "../globalCSS";

.formGroup {
  @extend %formGroup;
}

.formGroup > button {
  display: block;
  height: 5vh;
  background-color: $ternary-color;
  color: $main-color;
  border: none;
  min-width: 20%;
}

.formGroup > button:hover,
.formGroup > button:focus {
  background-color: $secondary-color;
  cursor: pointer;
}

// MOBILE VIEW
@media screen and (max-width: $mobile-max-width) {
  .formGroup > button {
    height: 4vh;
    font-size: 1.5vh;
  }
}

// TABLET VIEW
@media screen and (min-width: $mobile-max-width) and (max-width: $tablet-max-width) {
  .formGroup > button {
    height: 4vh;
    font-size: 2vh;
  }
}
